body {
    font-family:'Bebas Neue';
    background-image: linear-gradient(darkgreen, green, white);
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-top: 100px;
}

main {
    margin: 0;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 50px;
}

section {
    
    text-align: center;
    padding: 1px;
}

input {
    margin-left: 10px;
    border-radius: 20px;
    padding: 5px;
}

button {
    border-radius: 20px;
    background-color: black;
    color: green; 
    margin: 15px;
    padding: 7px;
    width: 200px;
    font-family: 'Bebas Neue';
    font-size: 15px;
}

#categories  {
    border-radius: 20px;
    padding: 4px;
    width: 150px;
    font-family: 'Bebas Neue';
}

#budget-amount, #addExpenseAmount, #addExpense {
    font-family: 'Bebas Neue';
    

}

option {

}

.weekly-budget {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

div {
    margin-bottom: 10px;
}
    


